{% extends "users/layout.html" %}

{% block body %}

    <h1 style="color:white">Welcome, {{ request.user.first_name }}</h1>

    <ul>
        <li style="color:white">Username: {{ request.user.username }}</li>
        <li style="color:white">Email: {{ request.user.email }}</li>
    </ul>

    <div style="margin-left:1%"><a href="{% url 'users:index' %}"class="btn btn-outline-light">All Courses</a></div>
    <br>
    <br>
    <br>
    
    <div style="margin-left:1%"><a href="{% url 'realuser:logout' %}"class="btn btn-outline-danger">Logout</a></div>
{% endblock %}
